.main__page {
    width: 100%;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding-top: 10rem;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.content {
    width: 100%;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.main__title {
    font-size: 5.2rem;
    margin-bottom: 1.5rem;
}

.content > p {
    width: 100%;
    max-width: 580px;
    margin-left: 50%;
    transform: translate(-50%, 0);

    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.button {
    color: var(--color-btn-text);
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
    padding: 10px 16px;
    border-radius: 6px;
    user-select: none;
    border: 1px solid;
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: 500;
    vertical-align: middle;

    cursor: pointer;
    transition: all .2s linear;
}

.get-started {
    width: 40%;
}

.get-started:hover {
    background-color: var(--color-hover-bg);
}

@media(max-width: 767px) {
    .main__title {
        font-size: 4rem;
    }

    .content > p {
        font-size: 1.6rem;
    }
}

@media(max-width: 575px) {
    .main__title {
        font-size: 3rem;
    }

    .content > p {
        font-size: 1.4rem;
    }
}

@media(max-width: 391px) {
    .main__title {
        font-size: 2.5rem;
    }

    .content > p {
        font-size: 1.2rem;
    }

    .get-started {
        width: 40%;
        font-size: 1.3rem;
    }
}

@media(max-width: 299px) {
    .main__title {
        font-size: 2rem;
    }

    .content > p {
        font-size: 1rem;
    }

    .get-started {
        width: 40%;
        font-size: 1rem;
    }
}