.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    padding: 30px 15px;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.modal__content {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    padding: 25px;
    position: relative;
    transform: rotate(360deg);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;

    border-radius: 5px;
}

.close__btn {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;

    position: absolute;
    top: -25px;
    right: -25px;
}

.modal__header-content {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.modal__header-content > p {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0.9rem;
}

.modal__header-content p  > span {
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 0;
}

.heartbeat {
    margin: 1.5rem 0;
}

.words {
    text-align: right;
}

.words button {
    color: #5856D6;
}

.words > button::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #5856D6;
    margin-top: 3px;
}