.songs, .albums {
    width: 100%;
    padding-top: 27px;
    padding-left: 279px;
    padding-right: 30px;
}  

.title {
    font-size: 3.3rem;
    margin-bottom: 6rem;
}

.songs__name {
    font-size: 2.7rem;

    margin-top: 2rem;
    margin-bottom: 0.8rem;
}

.albums__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 5rem;
}
.block {
    margin-bottom: 1rem;
}

.block > img {
    border-radius: 1em;
}

.block > p {
    color: #5A5C6C;
}

.musics {
    width: 100%;
    background: rgba(90, 92, 108, 0.34);
    border-radius: 5px;
    padding: 15px 23px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1.5rem;
}

.musics > p {
    font-size: 1.6rem;
    font-weight: normal;
    color: #AEAEAE;
}

.music__img  > img{
    border-radius: 4px;
    margin-right: 1.2rem;
}

.music__img {
    display: flex;
    align-items: center;
}

.music__img > h3 {
    font-size: 1.6rem;
    font-weight: normal;
    color: #AEAEAE;
}
