.songs__name {
    font-size: 2.2rem;

    margin-top: 2rem;
    margin-bottom: 0.8rem;
}

.albums__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block {
    margin-bottom: 2rem;
}

.block > img {
    border-radius: 1em;
}

.block > p {
    color: #5A5C6C;
}

.circle__down {
    width: 32px;
    height: 32px;
    background-color: white;

    border-radius: 50%;

    margin: 0 auto;
    margin-bottom: 2rem;
    
    cursor: pointer;
}