.sideBar {
    width: 100%;
    max-width: 248px;
    height: 100vh;
    padding: 27px 24px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(90, 92, 108, 0.15);
}

/* Registration */

.registration {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid rgba(90, 92, 108, 0.15);
    padding-bottom: 3rem;
}

.title__flex {
    display: flex;
    /* align-items: center;s */
    justify-content: space-between;
}

.registration__img {
    border-radius: 50%;
}

.login {
    display: inline-block;
    border: 1px solid #5A5C6C;
    color: #5A5C6C;
    font-size: 1.4rem;
    padding: 10px 35px;

    border-radius: 5px;
}

/* Nav */

.menu, .music, .playlist {
    padding: 27px 0;
    border-bottom: 1px solid rgba(90, 92, 108, 0.15);
}

.nav__title {
    font-size: 2rem;
    color: #5A5C6C;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 2.7rem;
}

.nav__flex {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.nav:last-child {
    margin-bottom: 0;
}

.nav__flex > img {
    margin-right: 1.5rem;
}

.nav__link {
    transition: color .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav__link:hover {
    color: white;
}

/* SCrollBar */

.sideBar {
    overflow-y: auto;
    scroll-behavior: smooth;
}

.sideBar::-webkit-scrollbar {
    width: 5px;
}

.sideBar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #0e1121;
}