.btn__change {
    width: 35px;
    height: 35px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.btn__change.downs {
    margin-left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

.btn__change > span {
    font-size: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

input[type=number]:focus {
    outline: none;
}

.times__btn {
  width: 40%;
}

.s_clock {
  margin-right: 0.5rem;
}