.timer__title {
    font-size: 3rem;
    color: black;
}

.timer__title::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;

    background-color: black;

    transition: width .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.timer__title:hover::after {
    width: 100%;
}

textarea::-webkit-scrollbar {
    width: 10px;
  }
  
  textarea::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(199, 199, 199, 0.4);
  }
  
  textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #c9c9c9;
  }