.main {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.main__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}